
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="main">

    <div class="roomInfo">
       <h1> <%= result[1][0].whatRoom %></h1>
    </div>
    
    <% result[0].forEach(function(item) { %> 
            <div class="itemShow">
                
                    <img src="../<%= item.image %>" alt="<%= item.image %>" class="itemImage"/>
                    <br>
                <%= item.displayName %> 

                <% if (item.quantity == 1) { %>
                    <p style="color:green">Quantity: <%= item.quantity %></p>
                <% } else if (item.quantity == 2){ %>
                    <p style="color:rgb(197, 187, 4)">Quantity: <%= item.quantity %></p>
                    <% } else { %>
                        <p style="color:rgb(248, 13, 13)">Quantity: <%= item.quantity %></p>
                      
                <% } %>
               
            </div>
            <% }); %>

            <footer>
                <a href="/">Home</a>
            </footer>
</div>



</body>
</html>


